# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/

# Visual Studio Code
.vscode/

# Flutter
.metadata
.packages
/build/
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/App.framework
/ios/Flutter/engine
/ios/Flutter/flutter_assets
/ios/Flutter/ephemeral
/ios/Flutter/.podbox
/ios/Flutter/Generated.xcconfig
/ios/Flutter/Flutter.podspec
/ios/Runner/GeneratedPluginRegistrant.h
/ios/Runner/GeneratedPluginRegistrant.m
/ios/Runner.xcworkspace
/ios/Runner.xcodeproj/project.xcworkspace/
/ios/Runner.xcodeproj/xcuserdata/
/ios/Flutter/Debug.xcconfig
/ios/Flutter/Release.xcconfig
.flutter-plugins
.flutter-plugins-dependencies

# Dart
.dart_tool/
.pub-cache/
*.dart.js.deps
*.dart.js.map
*.dart.js
*.unsound.ddc.js
*.unsound.ddc.js.map
*.sound.ddc.js
*.sound.ddc.js.map
pubspec.lock

# Generated code
lib/generated_plugin_registrant.dart
lib/firebase_options.dart

# Build artifacts
/build/
!/build/app/outputs/flutter-apk/app-release.apk
