# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
/build/
ios/Flutter/App.framework
ios/Flutter/flutter_assets/
ios/Flutter/podish-metadatas.json
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
ios/Pods/

# Android
.gradle/
/android/key.properties
/android/local.properties
/android/app/src/main/assets/flutter_assets/
android/app/intermediates/
android/app/outputs/
android/app/build/
android/build/
android/gradle/

# Web
.dart_tool/build/
